<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>909192573106-jp0f76soui1tlmn49ft3lubevml4ja14.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909192573106-jp0f76soui1tlmn49ft3lubevml4ja14</string>
	<key>API_KEY</key>
	<string>AIzaSyC9B4__in0s9n3TV87yvD7fm8b4hKYvbJY</string>
	<key>GCM_SENDER_ID</key>
	<string>909192573106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amirkaidarov.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-adc72</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-adc72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909192573106:ios:2454bed9893bd3989519ab</string>
</dict>
</plist>